body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #f8f9f9;
  box-shadow: -6px 0px white, 6px 0 white, 0 5px 3px -2px #e8e8e8;
}

.nav {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.block-content {
  max-width: 1200px;
  margin: 0 auto;
}

.questions-list {
 display: flex;
 justify-content: space-between;
}