{% extends "layout.html" %}
{% block content %}
<b class="comment-title-answer">DELETE COMMENT</b><br/>
<form action="/comments/{{comment_id}}/delete" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="comment_id" value="{{comment_id}}">
    <input type="hidden" name="id" value="{{id}}">
    
        Submitted: {{comment.submission_time}}<br/>
        Comment: {{comment.message}}<br/>
        Are you sure? <br/>
            <button class="add-your-answer" type="submit">Yes</button>
        </form>
<form action="/list" enctype="multipart/form-data">
            <button class="add-your-answer" type="submit">No</button>
        </form>

    </div>
{% endblock %}