{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="questions-list">
        <span class="questions-list-header"><h4>Latest questions</h4></span>
        <form action="/ask-question">
            <span><button type="submit" class="btn btn-primary">Ask Question</button></span>
        </form>
    </div>
</div>
<div class="container mt-4">
    <form action="/list">
        <button type="submit" class="btn btn-info btn-sm">Show All Questions</button>
    </form>
</div>
<div class="container">
    <div><h6>Total number of questions: {{total_amount_of_questions['count_questions']}}</h6></div>
</div>
{% for question in latest_questions %}
<div class="container question">
    <div class="question-info">
        <p class="question-info-element">{{question.vote_number}} votes</p>
        <p class="question-info-element">{{question.answer_number}} 
            {% if question.answer_number == 1 %} answer
            {% else %} answers
            {% endif %}</p>
        <p class="question-info-element">{{question.view_number}} views</p>
    </div>
    <div class="question-details">
        <p class="question-title">{{question.title}}</p>
        <p class="question-message">{{question.message}}</p>
        <p class="question-date">Posted: {{question.submission_time}}</p>
        <p><div class="tag rounded px-1">tag1</div><div class="tag rounded px-1">tag2</div></p>
    </div>
</div>
{% endfor %}
<!-- <div class="questions-list">
    <a href="/list">Show all questions</a>
    <table class="table table-borderless table-striped">
        <tr class="table-title">
            <th>Submission time</th>
            <th>View number</th>
            <th>Vote number</th>
            <th>Title</th>
            <th>Message</th>
        </tr>
            {% for question in latest_questions %}
        <tr>
            <td>{{question.submission_time}}</td>
            <td>{{question.view_number}}</td>
            <td>{{question.vote_number}}</td>
            <td><a href="{{ url_for('route_question',id=question.id)}}">{{question.title}}</a></td>
            <td><a href="{{ url_for('route_question',id=question.id)}}">{{question.message}}</td>
        </tr>
        {%endfor%}

    </table>
</div> -->
{% endblock %}
