<!DOCTYPE html>
<html>
    <head>
        <title>AskMate - questions with answers</title>
        </head>
        <body>
            <div>
            <th>Submission time</th>
            <th>View number</th>
            <th>Vote number</th>
            <th>Title</th>
            <th>Message </th>
            <th>Image</th>
        </tr>
            {% for question in questions %}
        <tr>
            <!--<td>{{question[0]}}</td>-->
            <td>{{question.submission_time}}</td>
            <td>{{question.view_number}}</td>
            <td>{{question.vote_number}}</td>
            <td>{{question.title}}</td>
            <td>{{question.message}}</td>
            <!-- <td>{{question[6]}}</td>  -->
        </tr>
        {%endfor%}

    </table>
</div>

        </body>
        </html>
