{% extends "layout.html" %}
{% block content %}
       
<div class="questions-list">
    <table class="table table-borderless table-striped">
        <tr class="table-title">
            <!-- <th>id</th> -->
            <th>
                {% if order_by == "submission_time" and order_direction == "ASC" %}
                    <a href="/list?order_by=submission_time&order_direction=DESC">Submission time</a>
                {% else %}
                    <a href="/list?order_by=submission_time&order_direction=ASC">Submission time</a>
                {% endif %}
            </th>
            <th>
                {% if order_by == "view_number" and order_direction == "DESC" %}
                    <a href="/list?order_by=view_number&order_direction=ASC">View number</a>
                {% else %}
                    <a href="/list?order_by=view_number&order_direction=DESC">View number</a>
                {% endif %}
            </th>
            <th>
                {% if order_by == "vote_number" and order_direction == "DESC" %}
                    <a href="/list?order_by=vote_number&order_direction=ASC">Vote number</a>
                {% else %}
                    <a href="/list?order_by=vote_number&order_direction=DESC">Vote number</a>
                {% endif %}
            </th>
            <th>
                {% if order_by == "title" and order_direction == "ASC" %}
                    <a href="/list?order_by=title&order_direction=DESC">Title</a>
                {% else %}
                    <a href="/list?order_by=title&order_direction=ASC">Title</a>
                {% endif %}
            </th>
            <th>
                {% if order_by == "message" and order_direction == "ASC" %}
                    <a href="/list?order_by=message&order_direction=DESC">Message</a>
                {% else %}
                    <a href="/list?order_by=message&order_direction=ASC">Message</a>
                {% endif %}
            </th>
            <!--<th>Image</th>-->
        </tr>
            {% for question in questions %}
        <tr>
            <!-- <td>{{question.id}}</td> -->
            <td>{{question.submission_time}}</td>
            <td>{{question.view_number}}</td>
            <td>{{question.vote_number}}</td>
            <td><a href="{{ url_for('route_question',id=question.id)}}">{{question.title}}</a></td>
            <td><a href="{{ url_for('route_question',id=question.id)}}">{{question.message}}</td>
            <!-- <td>{{question[6]}}</td>  -->
        </tr>
        {%endfor%}

    </table>
</div>

{% endblock %}
