{% extends "layout.html" %}
{% block content %}
       
<div class="container">
    <div class="questions-list">
        <span class="questions-list-header"><h4>All Questions</h4></span>
        <form action="/ask-question">
            <span><button type="submit" class="btn btn-primary">Ask Question</button></span>
        </form>
    </div>
</div>
<div class="container my-4 d-flex justify-content-between">
    <span>
        {{total_amount_of_questions['count_questions']}} questions
    </span>
    <span>
        data / view_number / vote_number / title / message
    </span>
</div>
{% for question in questions %}
<div class="container question">
    <div class="question-info">
        <p class="question-info-element">{{question.vote_number}} votes</p>
        <p class="question-info-element">{{question.answer_number}} 
            {% if question.answer_number == 1 %} answer
            {% else %} answers
            {% endif %}</p>
        <p class="question-info-element">{{question.view_number}} views</p>
    </div>
    <div class="question-details">
        <p class="question-title"><a href="{{ url_for('route_question',id=question.id)}}" class="text-decoration-none">{{question.title}}</a></p>
        <p class="question-message">{{question.message}}</p>
        <p class="question-date"><i class="fa-regular fa-calendar-days"></i> Posted: {{question.submission_time}}</p>
        <p>
            {% for tag in all_question_tags %}
                {% if tag.question_id == question.id %}
                    <div class="tag rounded px-1">#{{tag.tag_name}}</div>
                {% endif %}
            {% endfor %}
        </p>
    </div>
</div>
{% endfor %}

<!-- <div class="questions-list">
    <table class="table table-borderless table-striped">
        <tr class="table-title">
            <th>
                {% if order_by == "submission_time" and order_direction == "ASC" %}
                    <a href="/list?order_by=submission_time&order_direction=DESC">Submission time</a>
                {% else %}
                    <a href="/list?order_by=submission_time&order_direction=ASC">Submission time</a>
                {% endif %}
            </th>
            <th>
                {% if order_by == "view_number" and order_direction == "DESC" %}
                    <a href="/list?order_by=view_number&order_direction=ASC">View number</a>
                {% else %}
                    <a href="/list?order_by=view_number&order_direction=DESC">View number</a>
                {% endif %}
            </th>
            <th>
                {% if order_by == "vote_number" and order_direction == "DESC" %}
                    <a href="/list?order_by=vote_number&order_direction=ASC">Vote number</a>
                {% else %}
                    <a href="/list?order_by=vote_number&order_direction=DESC">Vote number</a>
                {% endif %}
            </th>
            <th>
                {% if order_by == "title" and order_direction == "ASC" %}
                    <a href="/list?order_by=title&order_direction=DESC">Title</a>
                {% else %}
                    <a href="/list?order_by=title&order_direction=ASC">Title</a>
                {% endif %}
            </th>
            <th>
                {% if order_by == "message" and order_direction == "ASC" %}
                    <a href="/list?order_by=message&order_direction=DESC">Message</a>
                {% else %}
                    <a href="/list?order_by=message&order_direction=ASC">Message</a>
                {% endif %}
            </th>
        </tr>
            {% for question in questions %}
        <tr>
            <td>{{question.submission_time}}</td>
            <td>{{question.view_number}}</td>
            <td>{{question.vote_number}}</td>
            <td><a href="{{ url_for('route_question',id=question.id)}}">{{question.title}}</a></td>
            <td><a href="{{ url_for('route_question',id=question.id)}}">{{question.message}}</td>
        </tr>
        {%endfor%}

    </table>
</div> -->

{% endblock %}
