{% extends "layout.html" %}
{% block content %}
       
<div class="questions-list">
    <table class="table table-borderless table-striped">
        <tr class="table-title">
            <th>id</th>
            <th>Submission time</th>
            <th>View number</th>
            <th>Vote number</th>
            <th>Title</th>
            <th>Message </th>
            <th>Image</th>
        </tr>
            {% for question in questions %}
        <tr>
            <td><a href="{{ url_for('route_question',id=question.id)}}">{{question.id}}</a></td>
            <td>{{question.submission_time}}</td>
            <td>{{question.view_number}}</td>
            <td>{{question.vote_number}}</td>
            <td>{{question.title}}</td>
            <td>{{question.message}}</td>
            <!-- <td>{{question[6]}}</td>  -->
        </tr>
        {%endfor%}

    </table>
</div>

{% endblock %}
