{% extends "layout.html" %}
{% block content %}
<a class="back" href="/list">&larr; Back to questions list</a><br /><br />
<div class="question-list row">
    <b class="question-title">{{question.title}}</b>
    <div class="question-txt">
        <p class="txt" >{{question.message}}</p>
        {% if question.image != 'no-image' %}
            <div class="container">
                <img class="pictures" src="/{{question.image}}" style="max-width: 150px"/>
            </div>
        {% endif %}
        <a class="add-answer" href="{{ url_for('route_answer', id=question.id)}}">Add new answer</a><br/><br/>
        <p class="vote-question">Number of votes already for this question: {{question.vote_number}}</p><br/><br/>
        <div class="del-edit">
            <a class="delete" href="{{ url_for('delete_question', id=question.id)}}">DELETE QUESTION</a><br/>
            <a class="edit" href="{{ url_for('edit_question', id=question[0])}}">EDIT QUESTION</a><br /><br/>
        </div>
        <div>
            <b class="comment-title">COMMENTS TO QUESTION</b><br/>
        {% for comment in comments %}  
            <p class="comment">
                Submitted: {{comment.submission_time}}<br/>
                {{comment.message}}<br/>
            </p>
        {% endfor %} 
            <a class="add-new-comment" href="{{ url_for('add_comment_question', id=question.id)}}">Add your comment to this question</a><br/><br/>
        </div>
        </div>
</div>
<!-- {% if answers|length > 0 %} -->
<div class="question-list row">
    <br />
    <b class="answer-title">ANSWERS</b><br/>
    {% for answer in answers %}
        {% for comment in comments %}
        <p class="answer">
            {{answer.message}}<br/><br/>
            <b class="comment-title-answer">COMMENTS TO ANSWER</b><br/>
            {{comment.message}}<br/><br/>
        {% endfor %}
        {% if answer.image != "no-image" %}
                <br/>
                <img src="/{{answer.image}}" style="max-width: 200px"/>
        {% endif %}
            <a class="add-new-comment-answer" href="{{ url_for('add_comment_answer', id=question.id, answer_id=answer.id)}}">Add your comment to this answer</a><br/><br/>
            <div class="buttons">
            <form method="post" action="{{ url_for('route_answer_add_vote', answer_id=answer.id)}}">
            <button class="plus" type="submit">+</button>
            <input type="hidden" name="id" value={{question.id}}></form>
            <form method="post" action="{{ url_for('route_answer_substract_vote', answer_id=answer.id)}}">
            <button class="minus" type="submit">-</button>
            <input type="hidden" name="id" value={{question.id}}></form>
            </div>
            <br/><center>Number of votes already for this answer: <b>{{answer.vote_number}}</b> </center><br/>
            <a class="delete-answer" href="{{ url_for('delete_answer',id=answer.id,ids=question.id)}}">DELETE ANSWER</a>
        </p>
    {% endfor %}
</div>
<!-- {% endif %} -->
{% endblock %}